/* Reset CSS */

html {
  font-size: 16px; /* Change the base font size to 20px */
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Set all elements to have a consistent box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove list styles on ul and ol elements */
ul, ol {
  list-style: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
}

/* Global Styles */
body {
  font-family: Montserrat, sans-serif; /* Set your preferred font family */
  font-size: 1rem; /* Set the default font size */
  background-color: #f6eafa;
}

/* Header Styles */
#header {
  background: url('images/1.jpg') center/cover no-repeat; /* Set your header background color */
  background-color: rgba(37, 37, 37, 0.8);
  background-size: cover;
  max-width: 100%;
  color: rgb(255, 255, 255); /* Set text color in the header */
  padding: 0.625rem;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  display: flex;
  }

/* Top Bar Styles */
#topbar {
  padding: 0rem; /* Thin top bar */
  position: absolute; /* Fixed positioning to stay at the top */
  width: 100%; /* Full width */
  height: 1.875rem;
  object-fit: cover;
  top: 0; /* Positioned at the top of the page */
}

.navbar {
  padding: 0.32rem; /* Add some padding to the navigation links */
}

.navbar ul {
  list-style: none; /* Remove list bullets */
  padding-left: 0.32rem;
}

.navbar li {
  display: inline;
  margin-right: 1.25rem; /* Adjust spacing between navigation items */
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
}

.navbar a {
  text-decoration: none; /* Remove underline */
  color: #737272; /* Set the link color to white or your preferred color */
}

.navbar a:hover {
  color: #ffffff; /* Change the text color when hovering */
  transform: scale(1.1); /* Enlarge the text by 10% when hovering */
  text-decoration: underline; /* Add an underline when hovering */
  font-weight: bold;
  transition: color 0.3s, text-decoration 0.3s, transform 0.3s; /* Add transitions for color and text-decoration */
}

/* Hero Section Styles */
#hero {
  padding: 2.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Full viewport height for a full-screen hero */
  margin-bottom: 2.1875rem;
  align-items: center;
}

#hero-content {
  flex: 1;
  align-items: baseline;
}

#hero h1 {
  font-size: 3.625rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  font-weight: 800;
}

#hero p {
  font-size: 1rem; /* Set the font size for the hero paragraph */
  font-weight: 200;
}

#hero-image {
  flex: 1;
}

#my-picture {
  width: auto;
  height: 100%;
  max-width: 100%;
  border-radius: 3.2rem;
  object-fit: cover;
  box-shadow: 0.32rem 0.32rem 0.64rem 
  rgba(0, 0, 0, 0.50);
  margin-bottom: 1rem;
}

/* Section Styles */
section {
  padding: 2.5rem;
}

#about {
  background-image: url('images/6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  max-width: 100%;
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
  height: 37.5rem;
  border-radius: 1.5625rem;
  padding-bottom: 3.2rem;
  padding-top: 0.64rem;
  display: flex; /* Make #about a flex container */
  flex-direction: row; /* Display items in a row */
  align-items: center;
  justify-content: space-between;
}

#about-content {
  flex: 1; /* Occupy the remaining space */
  max-width: 65%; /* Adjust the width of the content div */
  margin-top: 0.64rem;
  margin-bottom: 1.5625rem;
  box-shadow: -0.64rem 0.64rem 0.64rem 
  rgba(0, 0, 0, 0.50);
  padding: 1rem;
  border-bottom-left-radius: 1.5625rem;
  background-color: rgba(255, 255, 255, 0.5);
}

#about h2 {
  font-size: 44px; /* Set the font size for the hero heading */
  margin-bottom: 0.64rem;
  font-weight: 800;
  text-align: right;
}

#about h4 {
  font-size: 2rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  font-weight: 500;
}

#about h5 {
  font-size: 1.5rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  font-weight: 500;
}

#about p {
  font-size: 1rem; /* Set the font size for the hero paragraph */
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#about span{
  font-weight: bold;
}

/* CSS for the TikTok embed */
blockquote.tiktok-embed {
  flex: 1;
  max-width: 35%; /* Adjust the width of the TikTok embed as needed */
  min-width: 18rem;
  margin-top: 0.64rem;
  margin-left: 1rem;
  align-items: center;
}

#skills {
  background-image: url('images/2.jpg');
  background-size: cover; /* This will make the image cover the entire section */
  background-position: center; /* This will center the image horizontally and vertically */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  max-width: 100%;
  margin-top: 3.2rem;
  color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5625rem;
}

#skills h4 {
  font-size: 2rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  text-align: center;
}

#skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  flex: 1;
}

.skills-div {
  flex: 1;
  margin: 0.64rem;
}

#skills h2 {
  font-size: 2.75rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  text-align: center;
}

#skills-content h4 {
  font-size: 24px; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  text-align: center;
}

#skills-proficiency {
  display: flex;
  flex-direction: row;
}

.skill {
  margin-bottom: 1.25rem;
  flex: 1;
}

.skill-name {
  font-weight: bold;
}

.skill-bar {
  background: #e0e0e0;
  height: 1.25rem;
  border-radius: 0.64rem;
  margin-top: 0.32rem;
}

.skill-level {
  background: rgb(126, 175, 157); /* Green color for filled part of the bar */
  height: 100%;
  border-radius: 0.64rem;
  color: #fff;
  text-align: right;
  padding-right: 0.32rem;
  line-height: 1.25rem;
  font-weight: bold;
}

#skills p {
  font-size: 1rem; /* Set the font size for the hero paragraph */
  text-align: justify;
}

#portfolio {
  background-image: url('images/7.jpg');
  background-size: cover; /* This will make the image cover the entire section */
  background-position: center; /* This will center the image horizontally and vertically */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  max-width: 100%;
  height: 40.625rem;
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
  border-radius: 1.5625rem;
  margin-top: 3.2rem;
  color: black;
  align-items: center;
  padding-bottom: 1.875rem;
}

#portfolio-content {
  flex: 1;
  max-width: 38.75rem;
  position: absolute; /* Set the position property to absolute */
  right: 0; /* Align the div to the right side of the section */
  top: 0; /* You can adjust the top property if needed */
  margin: 0.64rem;
  margin-top: 65px;
  margin-bottom: 1.5625rem;
  box-shadow: 0.32rem 0.32rem 0.32rem 
  rgba(0, 0, 0, 0.50);
  padding: 1.875rem;
  border-bottom-right-radius: 1.5625rem;
  align-items: center;
}

#portfolio h2 {
  font-size: 2.75rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  margin-top: 0.32rem;
  text-align: left;
  width: 18.75rem;
  max-width: 50%;
}

#portfolio h4 {
  font-size: 2rem; /* Set the font size for the hero heading */
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  text-align: right;
}

#portfolio h6 {
  font-size: 1.625rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  text-align: right;
}

#portfolio p {
  font-size: 1rem; /* Set the font size for the hero paragraph */
  text-align: justify;
  margin-bottom: 0.64rem;
}

#contact {
  background-image: url('images/4.jpg');
  background-size: cover; /* This will make the image cover the entire section */
  background-position: center; /* This will center the image horizontally and vertically */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  max-width: 100%;
  position: relative;
  margin-bottom: 0rem;
  height: 32rem;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  margin-top: 3.2rem;
  color: rgb(255, 254, 254);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact-info {
  flex: 1;
}

#contact h2 {
  font-size: 2.75rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  text-align: left;
}

#contact h4 {
  font-size: 2rem; /* Set the font size for the hero heading */
  margin-bottom: 1.25rem;
  text-align: left;
}

#contact a {
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Set the link color to white or your preferred color */
}

/* Contact Form Styles */
#contact-form {
  flex: 1;
}

form {
  background: #f2f2f2; /* Set the form background color */
  padding: 1.25rem;
  border-radius: 0.64rem;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

form:hover {
  background-color: #e0e0e0; /* Change the background color when hovering */
  box-shadow: 0.32rem 0.32rem 0.64rem rgba(99, 99, 99, 0.50); /* Add a box shadow effect */
  transform: scale(1.02); /* Enlarge the form slightly on hover */
  transition: background-color 0.3s, transform 0.3s; /* Add transitions for other properties */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.32rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.64rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.32rem;
  font-size: 1rem;
}

textarea {
  resize: vertical; /* Allow vertical resizing of the textarea */
}

input[type="submit"] {
  background: #3800a8; /* Set the submit button background color */
  color: #fff; /* Set text color on the submit button */
  padding: 0.64rem 1.25rem;
  border: none;
  border-radius: 0.32rem;
  cursor: pointer;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background: #006138; /* Change button color on hover */
}

/* Customize styles for the About Me, My Skills, My Portfolio, and Contact Me sections as needed */

/* Footer Styles */
#footer {
  background: #3800a8; /* Set the footer background color */
  color: #fff; /* Set text color in the footer */
  text-align: center;
  padding: 0.64rem;
  max-width: 100%;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
}

#rights {
  font-size: 0.875rem; /* Set the font size for the copyright text */
}

#design {
  font-size: 0.875rem; /* Set the font size for the design credit */
}

/* Back to Top Button Styles */
#backToTop {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: #006138; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 50%; /* Rounded button shape */
  padding: 1rem;
  text-align: center;
  font-family: 'Material Symbols Outlined', sans-serif; /* Use the Google Fonts font */
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s, transform 0.3s;
}

#backToTop:hover {
  background-color: #3800a8; /* Button color on hover */
  transform: scale(1.1); /* Enlarge the button slightly on hover */
}

