/* recipe.html & recipe section styles */

#recipe {
  background-image: url(images/food-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  background-attachment: fixed;
  max-width: 100%;
  position: relative;
  display: flex; /* Make #about a flex container */
  flex-direction: column; /* Display items in a row */
  align-items: center;
  justify-content: space-between;
  color: #efecec;
}

#recipe-back-button {
  position: fixed;
  left: 0;
  top: 0;
  margin: 20px; /* Adjust the margin as needed */
}

.recipe-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: 
  rgba(255, 255, 255, 0.35);
  border-radius: 25px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipe-card-container {
  display: flex; /* Display the cards side by side */
  flex-direction: row; /* Arrange them horizontally */
  width: 100%;
  flex: 1;
}

.recipe-card {
  flex: 1; /* Distribute available space evenly among the cards */
  display: flex;
  flex-direction: row;
  padding: 10px; /* Add some spacing between the cards */
  box-sizing: border-box; /* Include padding in card's width calculation */
  border: 1px solid #a1e4ca; /* Add a border for better separation */
  border-radius: 25px;

}

.recipe-img {
  width: 100%;
  flex: 1;
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.recipe-card-info {
  background-color: 
  rgba(255, 255, 255, 0.15);
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  flex: 2;
}

#toplevel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#level1,
#level3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#level2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#ingredients ul,
#level3 ul,
#level3 ol,
#level3 p {
  color: #efecec;
  margin-left: 10px;
}

#ingredients {
  flex: 1;
}

#recipe-image {
  flex: 1;
  border: 2px solid #a1e4ca;
  border-radius: 25px;
}

#recipe-pic {
  width: 100%;
  height: auto;
  border-radius: 25px;
  object-fit: cover;
}

#level3 {
  width: 100%;
}

#ingredients h6,
#level3 h6 {
  color: #a1e4ca;
}
